
/* styles */

html, body {
  font-size: 16px;
  line-height: 1.5;
  background-color: lightgrey;
}


label {
  width: 100%;
  display: block;
}

.container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.centre {
  text-align: center;
}

/* status 'icon' in list */
.status-icon {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.on {
  background-color: #dff0d8;
  background-image: none;
  color: #3c763d;
}

.off {
  background-color: #f2dede;
  background-image: none;
  color: #a94442;
}
